@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
  padding: 50px 0 45px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 35px;
  }
  &__list-link{
    color: $default;
    font-size: 15px;
    position: relative;
    @extend %rubik-500;
    &:hover::before{
      content: '+';
      position: absolute;
      top: -7px;
      right: -12px;
    }
  }
  &__list-link--active::before{
    content: '+';
    position: absolute;
    top: -7px;
    right: -12px;
  }
}

.user-nav{
  display: flex;
  &__link{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 16px 0;
  }
  &__link--search{
    margin-right: 20px;
    background-color: #edf1f4;
  }
  &__link--heart,
  &__link--cart{
    width: 88px;
    background-color: #fcd7b6;
  }
  &__link--heart{
    border-radius: 50px 0 0 50px;
    &::after{
      content: '';
      position: absolute;
      width: 1px;
      height: 31px;
      background-color: #fde7d3;
      top: 10px;
      right: 0;
      }
    }
  &__link--cart{
    border-radius: 0 50px 50px 0;
  }
  &__link--btn{
    margin-left: 20px;
    background-color: #a3bbc8;
  }
  &__link-img{
    margin: 0 auto;
  }
  &__num{
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    top: 9px;
    right: 24px;
    color: #334c59;
    font-size: 10px;
    line-height: 19px;
    text-align: center;
  }
}

.footer-top{
  padding: 75px 0;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  &__item{
    margin-right: 100px;
    width: 215px;
  }
  &__item-form{
    max-width: 270px;
    margin-right: 0;
  }
  &__logo{
    display: block;
    margin-bottom: 30px;
  }
  &__item-form{
    width: 270px;
    margin-right: 0;
  }
  &__title{
    margin: 14px 0 19px;
    color: #1f2044;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
  }
  &__list-item{
   margin-bottom: 10px;
  }
  &__list-link,
  &__adress,
  &__phone,
  &__email,
  &__form-text{
    display: block;
    @extend %rubik-400;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
  }
  &__form-text{
    margin-bottom: 40px;
  }
  &__form-input{
    background-color: #fef7f0;
    border: none;
    max-width: 170px;
    height: 36px;
    color: #234969;
    font-size: 12px;
    @extend %dmsans-400;
    padding: 0 5px 0 15px;
  }
  &__form-btn{
    border: none;
    max-width: 90px;
    height: 36px;
    background-color: #a3bbc8;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    @extend %dmsans-400;
    cursor: pointer;
  }
}

.footer-bottom{
  height: 90px;
  @extend %rubik-400;
  font-size: 14px;
  line-height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__menu{
    display: flex;
  }
  &__menu-item{
    margin: 0 15px;
    position: relative;
    &:after{
      content: '|';
      position: absolute;
      top: 0;
      right: -15px;
    }
  }
  &__menu-item--contact{
    margin: 0 0 0 15px;
      &:after{
      content: none;
    }
  }
  &__menu-link{
    color: #7b7b7b;
  }
}


@import 'media';